    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
        <title>Document</title>
    </head>
    <body>
        <main>
            <div class="main-card">
                <form action="/sendLocale" method="post">
                    <div class="pesquisa-clima">
                        <input name="locale" type="search" class="pesquisa-input" value="Rio" placeholder="EX: Lagoa de dentro">
                        <button class="btn-pesquisa">Pesquisa</button>
                    </div>
                </form>
            <div class="loading">
                <div class="load"></div>
            </div>

            <div class="erro">

            </div>

            <div class="display-clima">
                <h1 class="lagoaDeDentro"><%= local %></h1>
                <div class="temperatura"><%= temp %>°C</div>
                <div class="descrição">clima</div>


                <div class="detalhes-container">
                    <div class="detalhe">
                        <div class="card-detalhe">
                            <div>Umidade: </div>
                            <div class="value-umidade"><%= humidade%>%</div>
                        </div>
                    </div>

                    <div class="card-detalhe">
                        <div>Vento: </div>
                        <div class="value-vento"><%= vento%>km/h</div>
                    </div>

                    <div class="card-detalhe">
                        <div>Chuva: </div>
                        <div class="value-chuva"><%= chuva%>%</div>
                    </div>
                </div>
            </div>



            <h3 id="previsao-texto">Previsão 5 Dias</h3>
            <div class="previsao-dias">

                <div class="dia-1">
                    <div><%= days[0] %></div>
                    <div class="temperatura-dia-1"><%= prev[0].mediatemp %></div>
                    <div class="umidade-dia-1"><%= prev[0].humidade %></div>
                    <div class="vento-dia-1"><%= prev[0].vento %></div>
                    <div class="chuva-dia-1"><%= prev[0].chuva %></div>
                </div>

                <div class="dia-2">
                    <div><%= days[1] %></div>
                    <div class="temperatura-dia-2"><%= prev[1].mediatemp %></div>
                    <div class="umidade-dia-2"><%= prev[1].humidade %></div>
                    <div class="vento-dia-2"><%= prev[1].vento %></div>
                    <div class="chuva-dia-2"><%= prev[1].chuva %></div>
                </div>

                <div class="dia-3">
                    <div><%= days[2] %></div>
                    <div class="temperatura-dia-3"><%= prev[2].mediatemp %></div>
                    <div class="umidade-dia-3"><%= prev[2].humidade %></div>
                    <div class="vento-dia-3"><%= prev[2].vento %></div>
                    <div class="chuva-dia-3"><%= prev[2].chuva %></div>
                </div>

                <div class="dia-4">
                    <div><%= days[3] %></div>
                    <div class="temperatura-dia-4"><%= prev[3].mediatemp %></div>
                    <div class="umidade-dia-4"><%= prev[3].humidade %></div>
                    <div class="vento-dia-4"><%= prev[3].vento %></div>
                    <div class="chuva-dia-4"><%= prev[3].chuva %></div>
                </div>

                <div class="dia-5">
                    <div><%= days[4] %></div>
                    <div class="temperatura-dia-5"><%= prev[3].mediatemp %></div>
                    <div class="umidade-dia-5"><%= prev[3].humidade %></div>
                    <div class="vento-dia-5"><%= prev[3].vento %></div>
                    <div class="chuva-dia-5"><%= prev[3].chuva %></div>
                </div>

            </div>

        </div>
        </main>
    </body>
    </html>